.footer-container {
    height: 280px;
    background-color: #141718;
    padding: 80px 160px 32px 160px;
}

.privacy-policy, .terms-of-use {
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    margin-left: 20px;
}

.copyright {
    padding-top: 10px;
}

.footer-hr {
    width: 100%; /* 부모 컨테이너의 너비를 100% 채움 */
    opacity: 0.1; /* 실선을 너무 진하지 않게 (원본 느낌) */
    color: white;
}

.git-icon {
    padding-top: 10px;
    width: 40px;
    height: 100%;
    color: #e0e0e0;
    margin-right: 15px;
}

.git-icon:hover {
    color: #ffffff;
}

@media (max-width: 850px) {
    .footer-container {
        padding: 30px 30px 0;
    }
}