/* ProductSection.css */
.product-list {
    max-width: 1200px; /* 메인 컨테이너 너비 */
    margin: 60px auto; /* 섹션 간 간격 */
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.product-header a {
    text-decoration: none;
    color: black;
}