.product-image-wrapper {
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
}

.product-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    border: #9CA3AF solid 1px;
    border-radius: 12px;
    padding: 10px;
}

.product-card a {
    text-decoration: none;
    color: black;
}

.product-info p {
    font-size: 20px;
}